.container{
    text-align: center;
 
}

.Login {
    margin-top: 25px;
   
}

.btn btn-primary{
    
    border-radius: 5px;
    color: #ffffff;
   
}
input {
    /* max-width: 20%;
    margin-left: 450px; */
    margin-bottom: 10px;
    padding: 5px;
}
.main{
    text-align: center;
    color: rgb(54, 88, 184);
    font-weight: bold;
    margin-top: 20px;
}
.btn btn-danger{
    text-align: end;
}
.login-popup {

    visibility: hidden;

}
