.container{
    text-align: center;
 
}

.Login {
    margin-top: 25px;
   
}

.btn btn-primary{
    
    border-radius: 5px;
    color: #ffffff;
   
}
input {
    max-width: 20%;
    margin-left: 450px;
    margin-bottom: 10px;
}

